@import "src/@kdev/scss/kdev";
frontend-toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  &.below {
    z-index: 2;
  }
  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
    height: 84px;
    @include media-breakpoint('sm') {
      height: 64px;
    }
    @include media-breakpoint('xs') {
      height: 56px;
      padding: 0 20px!important;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    .logo-icon {
      height: 36px;
      filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.6));
      @include media-breakpoint('sm') {
        height: 32px;
      }
      @include media-breakpoint('xs') {
        height: 28px;
      }
    }
  }
  .login-button {
    border-radius: 50px;
  }
  .navbar-toggle-button {
    min-width: 44px;
    height: 44px;
    margin-right: -12px;

    @include media-breakpoint('xs') {
      margin-right: -8px;
    }
  }
  .toolbar-separator {
    height: 64px;
    width: 1px;
    @include media-breakpoint('xs') {
      height: 56px;
    }
  }
}

#mobile-menu {
  height: 100vh;
  min-height: 400px;
  width: 0;
  box-sizing: border-box;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  color: white;
  overflow-x: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-section {
      .logo {
        .logo-icon {
          height: 24px;
        }
      }
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu-item {
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .menu-bottom {
    display: flex;
    justify-content: center;
    .menu-bottom-text {
      display: flex;
      align-items: center;
      .copyright {
        font-size: 20px;
        line-height: 32px;
        margin-right: 10px;
      }
    }
  }
}

.mobile-menu {
  width: 100% !important;
  padding: 8px 16px !important;
}