<mat-toolbar class="pl-32 pr-32 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/kdev.png">
                </div>
            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <div fxFlex fxHide fxShow.gt-sm>
                <button mat-button class="ml-8" [routerLink]="'frontend/page-1'">
                    <span class="secondary-text font-size-16 mx-4">Page 1</span>
                </button>

                <button mat-button class="ml-8" [routerLink]="'frontend/page-2'">
                    <span class="secondary-text font-size-16 mx-4">Page 2</span>
                </button>

                <button mat-button class="ml-8" [routerLink]="'frontend/page-3'">
                    <span class="secondary-text font-size-16 mx-4">Page 3</span>
                </button>

                <button mat-button class="ml-8 login-button" [routerLink]="'frontend/login'">
                    <span class="font-size-16 mx-4">Log in / Sign up</span>
                </button>
            </div>

            <button mat-icon-button class="navbar-toggle-button" fxHide.gt-sm>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

        </div>

    </div>

</mat-toolbar>