@import "src/@kdev/scss/kdev";
frontend-toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  &.below {
    z-index: 2;
  }
  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
    height: 84px;
    @include media-breakpoint('sm') {
      height: 64px;
    }
    @include media-breakpoint('xs') {
      height: 56px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    .logo-icon {
      height: 36px;
      filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.6));
      @include media-breakpoint('sm') {
        height: 32px;
      }
      @include media-breakpoint('xs') {
        height: 28px;
      }
    }
  }
  .login-button {
    border-radius: 50px;
  }
  .navbar-toggle-button {
    min-width: 44px;
    height: 44px;
    margin-right: -16px;
  }
  .toolbar-separator {
    height: 64px;
    width: 1px;
    @include media-breakpoint('xs') {
      height: 56px;
    }
  }
}