<div class="navbar-header" [ngClass]="kdevConfig.layout.navbar.secondaryBackground">

    <a href="/">
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/kdev.png">
        </div>

    </a>

    <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-md>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-sm>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" kdevPerfectScrollbar [kdevPerfectScrollbarOptions]="{suppressScrollX: true}" [ngClass]="kdevConfig.layout.navbar.primaryBackground">
    <kdev-navigation layout="vertical"></kdev-navigation>
</div>