@import "src/@kdev/components/countdown/countdown.theme";
@import "src/@kdev/components/material-color-picker/material-color-picker.theme";
@import "src/@kdev/components/search-bar/search-bar.theme";
@import "src/@kdev/components/sidebar/sidebar.theme";
@import "src/@kdev/components/widget/widget.theme";

@mixin kdev-core-theme($theme) {

    // Theming for Kdev core styles
    @include colors-theme($theme);
    @include cards-theme($theme);
    @include material-theme($theme);
    @include page-layouts-theme($theme);
    @include typography-theme($theme);

    // Theming for Kdev components
    @include kdev-countdown-theme($theme);
    @include kdev-search-bar-theme($theme);
    @include kdev-sidebar-theme($theme);
    @include kdev-material-color-picker-theme($theme);
    @include kdev-widget-theme($theme);

    // Theming for 3rd party components
    @include ngx-datatable-theme($theme);
}

